<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>CRUD de Clientes</title>
</head>

<body>
    <h1>Database</h1>
    <!-- Tabela para listar os clientes -->
    <table class="table mt-4">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Idade</th>
            </tr>
        </thead>
        <tbody id="clientTableBody">

            <!-- Aqui serão adicionadas as linhas da tabela dinamicamente -->

        </tbody>
    </table>

</body>

</html>